[Unit]
Description=GOST MySQL Tunnel to Tencent Cloud
After=network.target gost-domestic.service
Requires=gost-domestic.service

[Service]
Type=simple
User=root
ExecStart=/usr/local/bin/gost -L tcp://:36301/43.145.51.23:26300 -F http://127.0.0.1:8118
Restart=always
RestartSec=5
StandardOutput=append:/var/log/gost-mysql-tunnel.log
StandardError=append:/var/log/gost-mysql-tunnel.log

[Install]
WantedBy=multi-user.target
